<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>
    
    {{> nav-global}}
    
    {{{body}}}

    {{> footer}}

</body>
</html>